{% extends 'base.html.twig' %}

{% block title %}Hub - Lancé de dé{% endblock %}

{% block body %}
<h3>Choisissez vos joueurs</h3>

<div class='uk-margin'>
{{form_start(player2form)}}
<label>
Nom du joueur 2 :
</label>
{{ form_widget(player2form.name, { 'attr': {'class': 'uk-input uk-form-width-medium'} }) }}
</div>

<button class="uk-button uk-button-primary" type="submit">Suivant</button>
{{form_end(player2form)}}

{% endblock %}